<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <PageTitle>Not authorized</PageTitle>
                    <p>You're not authorized to access this page.</p>
                    <div class="my-5">
                        <NavLink href="/login"
                            class="hover:bg-[#ccc] p-4 bg-white shadow-lg text-purple-600  rounded-lg w-full py-2">
                            Click here to log in
                        </NavLink>
                    </div>
                </NotAuthorized>
                <Authorizing>
                    <PageTitle>Authorizing...</PageTitle>
                    <p>Checking your authentication state, please wait...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
